body {
    background-color: black;
    background-image: url("/images/blob.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width:250px;
    height: auto;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}

.doto-font {
    color: white;
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

h1 {
    color: white;
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

h2 {
    color: white;
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

a {
    color: white;
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 10px;
}

p {
    color: white;
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-brands {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa-brands:hover {
  opacity: 0.7;
}

.icon-text {
  display: flex;
  align-items: center; /* Align items vertically */
  gap: 8px; /* Space between icon and text */
  text-decoration: none; /* Remove underline if it's a link */
  /*color: inherit; /* Inherit text color */
  flex-wrap: wrap;
  text-align: center;
}

.navlink{
    padding: 100px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    z-index: 1000;
  }

.container {
    display: flex;
    gap: 20px; 
    margin-top: 200px;
    margin-bottom: 500px;
    flex-direction: column;
    align-items: center;
  }
  
  .item:nth-child(1),
  .item:nth-child(2),
  .item:nth-child(3),
  .item:nth-child(4) {
    align-content: center; 
    /* background-color:black; */
    opacity: 90%;
    /* border-radius: 25px; */
    padding: 25px;
    width: 700px;
    flex-grow: 1;
  }
  

