body {
    background-color: black;
}

img {
    width:250px;
    height: auto;
    border-radius: 25px;
}

.doto-font {
    color: white;
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

h1 {
    text-align: center;
    color: white;
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

h2 {
    color: white;
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

a {
    color: white;
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 10px;
}

p {
    color: white;
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

.navlink{
    padding-right: 100px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    z-index: 1000;
  }

.container {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/blob.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .item:nth-child(1),
  .item:nth-child(2),
  .item:nth-child(3),
  .item:nth-child(4) {
    align-content: center;
    background-color:black;
    opacity: 90%;
    border-radius: 25px;
    padding: 25px;
    width: 500px;
    flex-grow: 1;
  }
  

